 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a full-stack web developer who finds beauty in minimalism. I currently work for NCAR, and work on giving our users the best experience possible.</p>
                    <p>My CMS of choice is Drupal 7 and 8.</p>
                    <p>When not focusing on web development, my other passions include design, user-experience and devops.</p>
                </div>
                <div class="col-lg-4">
                    <p>A Chicago native, my wife and I moved to Colorado over a year ago after living two years in Boston.</p>
                    <p>I am a passionate outdoorsman (and Eagle Scout) who backpacks in the rockies, went scubadiving in Hawaii and camped on a deserted island in the Florida Keys.</p>
                    <p>In my free time, I enjoy traveling with my wife and daughter, snowboarding, a good first-person shooter and my Stratacaster.</p>
                </div>
            </div>
        </div>
    </section>