<!-- Contact Section -->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="container" class="ltr">
          <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSfUhISkOgyrcZfEXHlcltUEohf9Lw8_hCgcpDosO7fx4_8JzA/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
            Full Name
            <input type="text" name="entry.407373485">
            Email
            <input type="email" name="entry.424255863">
            Body
            <input type="text" name="entry.293018814">
            <input type="submit" value="Submit">
          </form>
          <iframe name="hidden_iframe" id="hidden_iframe" onload="if(submitted) {}"></iframe>
<!--           <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
      action="https://geinosky.wufoo.com/forms/m104u66d0a4i6r8/#public">
            <ul>
              <div class="form-group col-xs-12 floating-label-form-group controls floating-label-form-group-with-value">
                <li id="foli6" class="notranslate floating-label-form-group">
                  <label class="desc" id="title6" for="Field6"> Name </label>
                  <div>
                    <input id="Field6" name="Field6" type="text" class="field text medium" value="" maxlength="400" tabindex="1" onKeyUp="" />
                  </div>
                </li>
                <li id="foli3" class="notranslate floating-label-form-group">
                  <label class="desc" id="title3" for="Field3"> Email </label>
                  <div>
                    <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="400" tabindex="2" />
                  </div>
                </li>
                <li id="foli12" class="notranslate floating-label-form-group">
                  <label class="desc" id="title12" for="Field12">Phone Number</label>
                  <div>
                    <input id="Field12" name="Field12" type="text" class="field text medium" value="" maxlength="14" tabindex="3" onkeyup="" />
                  </div>
                </li>
                <li id="foli8" class="notranslate floating-label-form-group">
                  <label class="desc" id="title8" for="Field8"> Message </label>
                  <div>
                    <textarea id="Field8" name="Field8" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="6" onkeyup=""></textarea>
                  </div>
                </li>
                <li class="buttons ">
                  <div class="form-group col-xs-12">
                    <input id="saveForm" name="saveForm" class="btTxt submit btn btn-success btn-lg" type="submit" value="Submit"/>
                  </div>
                </li>
                <li class="hide">
                  <label for="comment">Do Not Fill This Out</label>
                  <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                  <input type="hidden" id="idstamp" name="idstamp" value="W0rr9hTvW7J+HWWo1p54gbuAomsJwPDbfqEsEvm2lTA=" />
                </li>
              </div>
            </ul>
          </form> -->
        </div>
        <!--container-->
        </div>
    </div>
  </div>
</section>
